<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Jovita Kaulinyte</title>

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap"
        rel="stylesheet">

    <!-- CSS style -->

    <link rel="stylesheet" href="../../css/style_projects.css">

</head>

<body>

    <div class="all_content d-flex flex-column justify-content-center align-items-center">

        <!-- Navigation bar -->
        <div>
            <nav id="mainNavbar"
                class="navbar navbar-light navbar-expand-md py-0 container-fluid fixed-top d-block d-flex justify-content-between p-2">

                <div class="d-flex flex-row align-items-center justify-content-between">

                    <div class="logo">
                        <a href="#" class="navbar-brand">
                            <img src="../../media/LOGO/logo_jovitaKAU.png" alt="" class="d-inline-block align-top"
                                id=logo_jovitaKAU>
                        </a>
                    </div>

                    <div class=nav_button>
                        <button class="navbar-toggler custom-toggler" data-toggle="collapse" data-target="#navLinks"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>

                </div>


                <div class="collapse navbar-collapse" id="navLinks">

                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="/" class="nav-link">PORTFOLIO</a>
                        </li>
                        <li class="nav-item">
                            <a href="about" class="nav-link">ABOUT ME</a>
                        </li>
                    </ul>

                </div>

            </nav>
        </div>
        <!-- End of navigation bar-->


        <!-- section divider brief/process/product-->

        <div class="container divider_margin" id="divider_brief">
            <div class="row divider_div">
                <div class="col-sm-3 col-md-4 p-0"></div>

                <div class="col-sm-3 col-md-4 p-0"></div>
            </div>
        </div>

        <!-- cover of the project-->

        <div class="container mt-5">
            <div class="row align-items-start justify-content-center">
                <div class="col-sm-12 col-md-7 mt-0 pb-1 mb-sm-5">
                    <img class="img-fluid profile_pic" src="../../media/about me/profile_pic.jpg" alt="">
                </div>
                <div class="col-sm-12 col-md-4 mt-sm-0 mt-md-0 ps-md-5">
                    <div class="container-fluid p-0">

                        <div class="row project-title-section">
                            <h4 class="col-12 text-center bigger_interline">Hello,<br> I'm Jovita Kaulinyte</h4>
                        </div>
                        <div class="row d-flex flex-row justify-content-center brief-section">
                            <div class="col border_line_around_brief"></div>
                            <div class="col-5 d-flex flex-row justify-content-center align-content-end brief">
                                About me
                            </div>
                            <div class="col border_line_around_brief"></div>
                        </div>
                        <div class="row justify-content-center align-items-center description-section">
                            <p class="p-0 col-10 col-md-12">I‘m an <span>industrial</span> and <span>product
                                    designer</span> who believes in the
                                capability of design to <span>raise emotions</span> and <span>add value</span> to
                                everyday life. My designs are
                                based on strong <span>research</span> and attention to <span>details</span>. My skills
                                encompass the full project
                                process and I’m able to adapt my knowledge to different fields of interest. My strengths
                                are <span> creativity, team working, thinking outside the box and
                                    problem-solving</span>.
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col mt-sm-0 mt-md-0"></div>
            </div>
        </div>


        <div class="border_line_around_brief pt-5 d-flex container justify-content-center mt-5 mb-0">
            <div class="row col-8">
                <p class="text-center" id="intro">If you have <span>job inquiries</span>, want to
                    <span>discuss
                        a project</span> or an <span>idea</span><br>
                    or would like to <span>publish</span> one of my projects<br>
                    please <span>download my resume</span> and don't hesitate to <span> <br> contact me</span>!
                </p> <br>
                <br>

            </div>
        </div>

        <!-- icons for contacts resume/mail/phone-->

        <div class="container mt-4">
            <div class="row ">
                <div class="col ">
                </div>
                <div class="col-sm-4 col-md-3 my-2 col-lg-2 text-center align-items-between dropdown">
                    <a href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg class="m-0 p-0 text-center" xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                            fill="currentColor" class="bi bi-download p-0 m-0 " viewBox="0 0 16 16">
                            <path
                                d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                            <path
                                d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                        </svg> <br>
                        <div class="icon_divisor"> </div>
                        <div class="align-bottom">
                            <span class="icon_descriptions">Resume</span>
                        </div>
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="../../media/about me/Resume_Jovita Kaulinyte.pdf"
                                download="Resume_Jovita_Kaulinyte"> English</a></li>
                        <li><a class="dropdown-item" href="../../media/about me/CV_Jovita Kaulinyte.pdf"
                                download="CV_Jovita_Kaulinyte">Italiano</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 my-2 col-lg-2 text-center align-items-between">
                    <a class="row align-items-end justify-content-center" href="mailto:design.jovita@gmail.com"><svg
                            xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                            <path
                                d="M12 12.713l-11.985-9.713h23.97l-11.985 9.713zm0 2.574l-12-9.725v15.438h24v-15.438l-12 9.725z" />
                        </svg>
                        <div class="icon_divisor"> </div>
                        <div class="align-bottom">
                            <span class="icon_descriptions">design.jovita@gmail.com</span>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4 col-md-3 my-2 col-lg-2 text-center align-items-between">
                    <a class="justify-centent-between" href="tel:380-630-3328">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                            class="bi bi-telephone" viewBox="0 0 16 16">
                            <path
                                d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                        </svg> <br>
                        <div class="icon_divisor"> </div>
                        <div class="text-bottom">
                            <span class="icon_descriptions">+39 380 630 3328</span>
                        </div>
                    </a>
                </div>
                <div class="col">

                </div>
            </div>
        </div>





        <!-- gif to indicate to turn the device in horizontal position-->

        <div class="container">
            <div class="row justify-content-center">
                <div class="col row justify-content-center">
                    <img id="rotation_gif" src="../../media/GIFS/rotate-phone.gif" />
                </div>
            </div>
        </div>


        <!-- section divider brief/process/product-->
        <div class="container mt-5">
            <div class="row d-flex flex-row justify-content-center brief-section">
                <div class="col border_line_around_brief"></div>
                <div class="col-3 d-flex flex-row justify-content-center align-content-end brief">
                    My Design Process
                </div>
                <div class="col border_line_around_brief"></div>
            </div>
        </div>


        <!-- project presentation -->

        <div class="container mx-0 d-flex flex-column mt-3 ">

            <div>
                <img class="col img-fluid p-0" src="../../media/about me/design_process.jpg" alt="">
            </div>
        </div>



        <!-- carousel of my photos -->

        <div class="container mt-5 px-4">
            <div class=row>
                <div class="col-2 grey_background">

                </div>
                <div class="col p-0">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="../../media/about me/gallery_1.jpg" class="d-block w-00 img-fluid" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="../../media/about me/gallery_2.jpg" class="d-block w-100 img-fluid" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="../../media/about me/gallery_3.jpg" class="d-block w-100 img-fluid" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="../../media/about me/gallery_4.jpg" class="d-block w-100 img-fluid" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="../../media/about me/gallery_5.jpg" class="d-block w-100 img-fluid" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="../../media/about me/gallery_6.jpg" class="d-block w-100 img-fluid" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2 p-0 grey_background">

                </div>
            </div>
        </div>









    </div>


    <!-- footer -->

    <footer class="container-fluid justify-content-center">
        <div class="row">
            <div class="col text-center mx-0 mt-2 mb-2">
                <h3 id="footer_title">Let's get in touch!</h3>
            </div>
        </div>
        <div class="row justify-content-center align-items-center pb-3">
            <div class="col-sm-1 col-md-4"></div>
            <div class="col">
                <a class="row align-items-end justify-content-center"
                    href="https://www.linkedin.com/in/jovitakaulinyte/">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path
                            d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z" />
                    </svg></a>
            </div>
            <div class="col">
                <a class="row align-items-end justify-content-center" href="mailto:design.jovita@gmail.com"><svg
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path
                            d="M12 12.713l-11.985-9.713h23.97l-11.985 9.713zm0 2.574l-12-9.725v15.438h24v-15.438l-12 9.725z" />
                    </svg></a>
            </div>
            <div class="col">
                <a class="row align-items-end justify-content-center"
                    href="https://www.behance.net/jovita_kaulinyte"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                        height="24" viewBox="0 0 24 24">
                        <path
                            d="M22 7h-7v-2h7v2zm1.726 10c-.442 1.297-2.029 3-5.101 3-3.074 0-5.564-1.729-5.564-5.675 0-3.91 2.325-5.92 5.466-5.92 3.082 0 4.964 1.782 5.375 4.426.078.506.109 1.188.095 2.14h-8.027c.13 3.211 3.483 3.312 4.588 2.029h3.168zm-7.686-4h4.965c-.105-1.547-1.136-2.219-2.477-2.219-1.466 0-2.277.768-2.488 2.219zm-9.574 6.988h-6.466v-14.967h6.953c5.476.081 5.58 5.444 2.72 6.906 3.461 1.26 3.577 8.061-3.207 8.061zm-3.466-8.988h3.584c2.508 0 2.906-3-.312-3h-3.272v3zm3.391 3h-3.391v3.016h3.341c3.055 0 2.868-3.016.05-3.016z" />
                    </svg></a>
            </div>

            <div class="col-sm-1 col-md-4"></div>
        </div>
        <div class="col mx-0 mt-1 p-0">
            <h6 id="rights_reserved">© 2021 by Jovita Kaulinyte - All Rights Reserved</h6>
        </div>

    </footer>




    <!-- Bootstrap JavaScript-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>


    <script>
        $(function () {
            $(document).scroll(function () {
                var $nav = $("#navLinks");
                $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height() / 3);
            });
        });
    </script>

    <script>
        $(function () {
            $(document).scroll(function () {
                var $nav = $("#mainNavbar");
                $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height() / 10);
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('img').bind('contextmenu', function (e) {
                return false;
            });
        });
    </script>

    </div>

</body>

</html>