<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <title>Portfolio</title>

  <!-- fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap"
    rel="stylesheet">

  <!-- CSS style -->
  <link rel="stylesheet" href="../../css/style.css">

</head>

<body>

  <div id="all_content d-flex flex-column">

    <!-- Navigation bar -->
    <div>
      <nav id="mainNavbar"
        class="navbar navbar-light navbar-expand-md py-0 container fixed-top d-block d-flex justify-content-between p-2">

        <div class="d-flex flex-row align-items-center justify-content-between">

          <div class="logo">
            <a href="#" class="navbar-brand">
              <img src="../../media/LOGO/logo_jovitaKAU.png" alt="" class="d-inline-block align-top" id=logo_jovitaKAU>
            </a>
          </div>

          <div class=nav_button>
            <button class="navbar-toggler custom-toggler" data-toggle="collapse" data-target="#navLinks"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>

        </div>


        <div class="collapse navbar-collapse" id="navLinks">

          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="" class="nav-link">PORTFOLIO</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">ABOUT ME</a>
            </li>
          </ul>

        </div>

      </nav>
    </div>
    <!-- End of navigation bar-->

    <!-- Presentation paragraph-->

    <div class="presentation d-flex container justify-content-center mb-0">
      <div class="col"></div>
      <p class="col-sm-10" id="intro">Glad to meet you, I'm Jovita Kaulinyte <br> a product and service designer <br>
        enjoy my portfolio</p>
      <div class="col"></div>
    </div>

    <!-- section choice between service or product -->

    <div class="d-flex container justify-content-center mt-xs-1 mt-md-5 mb-3">
      <div class="col"></div>
      <div class="section_choice col-md-8 text-center">
        <a href="">all projects</a>
        <span> | </span>
        <a href="">industrial design</a>
        <span> | </span>
        <a href="">service design </a>
      </div>
      <div class="col"></div>
    </div>


    <!-- Main Grid containing the projects -->

    <div class="container mt-2">

      <div class="row">

        <!-- The projects are all in a row and each is composed by an image and a caption -->

        <!-- <div class="col-sm-12 col-md-6 col-lg-4 grid-element d-flex justify-content-center align-items-center p-1 ps-0">
                <img href="" class="img-fluid nested-image" src="../media/HOME/GRID/griglia_ventaglio.jpg" alt="">
                <div class="caption d-flex justify-content-center no-hover">
                  <h4>Ventaglio</h4>
                </div>
              </div>
              -->

        <div class="col-sm-12 col-md-6 col-lg-4 grid-element d-flex justify-content-center align-items-center p-1 ps-0">
          <a href="projects/Seeit">
            <img class="img-fluid nested-image" src="../../media/HOME/GRID/griglia_seeit.jpg" alt="">
          </a>
          <div class="caption d-flex justify-content-center no-hover">
            <h4>Seeit</h4>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 grid-element d-flex justify-content-center align-items-center p-1">
          <a href="projects/foodability" id="">
            <img class="img-fluid nested-image" src="../../media/HOME/GRID/griglia_foodability.jpg" alt="">
          </a>
          <div class="caption d-flex justify-content-center no-hover">
            <h4>Foodability</h4>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 grid-element d-flex justify-content-center align-items-center p-1 pe-0">
          <a href="projects/FEEL" id="">
            <img class="img-fluid nested-image" src="../../media/HOME/GRID/griglia_feel.jpg" alt="">
          </a>
          <div class="caption d-flex justify-content-center no-hover">
            <h4>Feel</h4>
          </div>
        </div>

        <!-- <div class="col-sm-12 col-md-6 col-lg-4 grid-element d-flex justify-content-center align-items-center p-1">
                <a href="projects/greenboard" id="">
                  <img class="img-fluid nested-image" src="../media/HOME/GRID/griglia_greenboard.jpg" alt="">
                </a>
                <div class="caption d-flex justify-content-center no-hover">  p-1
                  <h4>GreenBoard</h4>
                </div>
              </div> -->





        <div class="col-sm-12 col-md-6 col-lg-4 grid-element d-flex justify-content-center align-items-center p-1 ps-0">
          <a href="projects/Swipe">
            <img class="img-fluid nested-image" src="../../media/HOME/GRID/griglia_swipe.jpg" alt="">
          </a>
          <div class="caption d-flex justify-content-center no-hover">
            <h4>Swipe</h4>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 grid-element d-flex justify-content-center align-items-center p-1">
          <a href="projects/GUIDAMI" id="">
            <img class="img-fluid nested-image" src="../../media/HOME/GRID/griglia_guidami.jpg" alt="">
          </a>
          <div class="caption d-flex justify-content-center no-hover">
            <h4>Guidami</h4>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 grid-element d-flex justify-content-center align-items-center p-1 pe-0">
          <a href="projects/L40" id="">
            <img class="img-fluid nested-image" src="../../media/HOME/GRID/griglia_l40.jpg" alt="">
          </a>
          <div class="caption d-flex justify-content-center no-hover">
            <h4>L4.0</h4>
          </div>
        </div>

        <div
          class="col-sm-12 col-md-6 col-lg-4 grid-element d-flex justify-content-center align-items-center p-1 ps-0 ">
          <a href="projects/STENO-CLIP">
            <img class="img-fluid nested-image" src="../../media/HOME/GRID/griglia_stenoclip.jpg" alt="">
          </a>
          <div class="caption d-flex justify-content-center no-hover">
            <h4>Steno-Clip</h4>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 grid-element d-flex justify-content-center align-items-center p-1 ">
          <a href="projects/Riccio">
            <img class="img-fluid nested-image" src="../../media/HOME/GRID/griglia_riccio.jpg" alt="">
          </a>
          <div class="caption d-flex justify-content-center no-hover">
            <h4>Riccio</h4>
          </div>
        </div>

      </div>

    </div>
    <!-- End of the Main Grid containing the projects -->

  </div>






  <!-- Bootstrap JavaScript-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>


  <script>
    $(function () {
      $(document).scroll(function () {
        var $nav = $("#navLinks");
        $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height() / 3);
      });
    });
  </script>

  <script>
    $(function () {
      $(document).scroll(function () {
        var $nav = $("#mainNavbar");
        $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height() / 10);
      });
    });
  </script>

  <script>
    $(document).ready(function () {
      $('img').bind('contextmenu', function (e) {
        return false;
      });
    });
  </script>




</body>

</html>